<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body style="background-color: bisque;">
<div style="text-align: center;">
    <!-- <h1 style="color:hotpink" th:text="${titulo}">Mi primer backend, voy a lograr todo lo que me pidan hacer</h1> -->
    <h2 style="color:hotpink" th:text="${titulo}">Thaís te quiero y te extraño I miss you</h2>


</div>
    
</body>
</html>